* {
  margin: 0;
  padding: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #675a54;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  background: #6bbd45;
  border: none;
  padding: 15px 40px;
  border-radius: 2px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  outline: #b0e07d;
  cursor: pointer;
}

.btn:focus {
  background: #b0e07d;
}

.header {
  max-width: 1670px;
  padding: 20px 12px;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__nav-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #675a54;
  text-decoration: none;
  margin-right: 50px;
  position: relative;
}

.header__nav-item._select {
  position: relative;
}

.header__nav-item._select::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -15px;
  width: 10px;
  height: 10px;
  background: url("../img/icons/select.svg") no-repeat;
}

.header__phone {
  font-size: 16px;
  line-height: 22px;
  color: #2983d4;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.header__phone span {
  font-weight: bold;
}

.header__phone:hover {
  color: #2469a7;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/*
.menu {
    @media (max-width: 850px) {
        background: #fff;
        position: fixed;
        height: 100%;
        right: 100%;
        transition: all .5s;
        left: 0;
        top: 0;
        overflow: hidden;
        &._active {
            right: 0;
            transition: all .5s;
        }
    } 
    &__list {
        display: flex;
        justify-content: center;
        &-link {
            color: #212A37;
            transition: all .4s;
            &:hover {
                color: #FF6238;
                transition: all .4s;
            }
        }
        @media (max-width: 850px) {
            flex-direction: column;
            align-items: center;
            margin-top: 35px;
        } 
    }
    &__item {
        font-size: 24px;
        line-height: 28px;
        @media (max-width: 850px) {
            font-size: 30px;
            line-height: 50px;
        } 
    }
    &__item + &__item {
        margin-left: 20px;
        @media (max-width: 850px) {
            margin-left: 0;
        }
    }
    &__burger {
        display: none;
        @media (max-width: 850px) {
            display: block;
            position: absolute;
            top: 25px;
            right: 10px;
            width: 30px;
            height: 18px;
            cursor: pointer;
            z-index: 5;
            span {
                transition: all 0.3s ease 0s;
                top: calc(50% - 1px);
                left: 0px;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #000;
                &:first-child {
                    top: 0px;
                }
                &:last-child {
                    top: auto;
                    bottom: 0px;
                }
            }
            &._active {
                position: fixed;
                span {
                    transform: scale(0);
                    &:first-child {
                        transform: rotate(-45deg);
                        top: calc(50% - 1px);
                    }
                    &:last-child {
                        transform: rotate(45deg);
                        bottom: calc(50% - 1px);
                    }
                }
            }
        }
    }
}
*/

.offer {
  margin: 0 50px;
  margin-top: 15px;
  background: url("../img/bg-1.jpg") no-repeat top center/cover;
  padding-top: 440px;
  padding-bottom: 30px;
  position: relative;
}

.offer:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50px;
  width: 300px;
  height: 300px;
  border: 5px solid red;
}

.offer__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  color: #fff;
}

.offer__subtitle {
  font-size: 28px;
  line-height: 34px;
  color: #fff;
  margin-top: 15px;
}

@media (max-width: 1212) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}